.body{
    margin: 0px;
    background-color: lightgrey;
}
.main{
    padding-top: 30px;
    width: 35%;
    margin-left: auto;
    margin-right: auto;
}
.Header{
}
.link{
    text-decoration: none;
}
.Logo{
    display: inline-block;
    padding: 10px;
    border:1px black solid;
}
.nav{
    width: 300px;
    padding: 10px;
    border: 1px black solid;
    display: inline-block;
    left: 0px;
}
.Login{
    float: right;
}
.rep_list{
    list-style: none;
    line-height: 3rem;
}
