.body{
    background-color: lightblue;
}
.main{
    margin: 30px;
    width: 35%;
    margin-left: auto;
    margin-right: auto;
    background-color: lightblue;
}
.nav{
    width: 100%;
    border: 1px solid black;
    line-height: 30px;
}
.link{
    text-decoration: none;
}
.Logo{
    display: inline-block;
    border:1px black solid;
    padding-left: 5px;
    padding-right: 5px;
    text-decoration: none;
}
.Login{
    float: right;
    padding-right: 10px;
}
.repName{
    list-style: none;
    line-height: 3rem;
}
.userName{
    line-height: 30px;
    margin: 20px;
}
.repoName{
    margin: 20px;
}
.img{
    display: ;
    width: 100%;
}
